@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.Header {
  font-size: var(--h1);
  text-align: center;
  margin: var(--h3);
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png);
  font-family: 'Bakbak One', cursive;
  border: var(--h5) solid  var(--grey);
  color:  white;
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  background-image: url(https://compote.slate.com/images/9010535e-5a30-45cc-8038-7486facdcef2.jpeg?width=780&height=520&rect=3000x2000&offset=0x184);
  background-repeat: no-repeat;
  background-size: cover;
}
.joke{
  font-size: var(--h3);
  text-align: center;
  color: white;
  margin: 5rem auto ;
  line-height: 3.75rem;
  font-weight: 700;
  width: 50%;
  letter-spacing: .14rem;
}

.button{
  background-color: Transparent;
  color: white;
  border:  3px solid var(--white);
  font-size: var(--h4);
  padding: var(--h5);
  text-align: center;
  align-items: center;
  justify-content: center;
  display:block;
  margin:0 auto; 
  letter-spacing: .14rem;
  transition: 300ms ease-in-out;
}

.button:hover {
  background-color: var(--white);
  color: 	var(--dark-blue);
  cursor: pointer;

}