@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  font-size: var(--h1);
  background-color: red;
  font-family: 'Bakbak One', cursive;
  border: var(--h5) solid  var(--grey);
  height: 10rem;
}
.title{
  color:  white;
  font-family: 'Bakbak One', cursive;
}

.link-button{
  background-color:  #000080;
  color: white;
  border:  3px solid var(--white);
  font-size: var(--h4);
  padding: var(--h5);
  text-align: center;
  align-items: center;
  justify-content: center;
  display:block;
  margin:0 auto; 
  letter-spacing: .14rem;
  transition: 300ms ;

}
.trump-image{
  width: 75%;
  height: 75%;
  margin-bottom: 10px;
  transition: transform 0.5s;
  position: relative;
  bottom: 2rem;

}

.joke{
  font-size: var(--h3);
  text-align: center;
  color: black;
  margin: 5rem auto ;
  line-height: 3.75rem;
  font-weight: 700;
  width: 50%;
  letter-spacing: .14rem;
  background-color: white;
  border: solid black;
  padding: 5rem;
  margin-top: 10rem;
}

.reload-button{
  background-color:  #000080;
  color: white;
  border:  3px solid var(--white);
  font-size: var(--h4);
  padding: var(--h5);
  text-align: center;
  align-items: center;
  justify-content: center;
  display:block;
  margin:0 auto; 
  letter-spacing: .14rem;
  transition: 300ms ;
}

.reload-button:hover {
  background-color: var(--white);
  color: 	var(--dark-blue);
  cursor: pointer;

}

