@import url(variables.css);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.Header {
  font-size: var(--h1);
  text-align: center;
  margin: var(--h3);
  background-color: red;
  font-family: 'Bakbak One', cursive;
  border: var(--h5) solid  var(--grey);
  color:  white;
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  background-image: url(https://nypost.com/wp-content/uploads/sites/2/2022/01/donald-trump-210925-02.jpg?quality=80&strip=all);
  background-repeat: no-repeat;
  background-size: cover;
}
.joke{
  font-size: var(--h3);
  text-align: center;
  color: black;
  margin: 5rem auto ;
  line-height: 3.75rem;
  font-weight: 700;
  width: 50%;
  letter-spacing: .14rem;
  background-color: white;
  border: solid black;
  padding: 5rem;
}

.button{
  background-color: blue;
  color: white;
  border:  3px solid var(--white);
  font-size: var(--h4);
  padding: var(--h5);
  text-align: center;
  align-items: center;
  justify-content: center;
  display:block;
  margin:0 auto; 
  letter-spacing: .14rem;
  transition: 300ms ease-in-out;
}

.button:hover {
  background-color: var(--white);
  color: 	var(--dark-blue);
  cursor: pointer;

}