:root {
    --light-yellow: #FFD700;
    --dark-yellow: #DAA520;
    --brown: #DC143C;
    --dark-gray: #A52A2A;
    --neon-blue: #66fcf1;
    --black:#1F2833;
    --grey: #C5C6C7;
    --white:	#FFFFFF;
    --dark-blue: #000080;
  
    /*Intentions */
    --primary: var(--light-yellow);
    --secondary: var(--dark-yellow);
  
    /*Typography */
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;  
  }