
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --light-yellow: #FFD700;
  --dark-yellow: #DAA520;
  --brown: #DC143C;
  --dark-gray: #A52A2A;
  --neon-blue: #66fcf1;
  --black:#1F2833;
  --grey: #C5C6C7;
  --white:	#FFFFFF;

  /*Intentions */
  --primary: var(--light-yellow);
  --secondary: var(--dark-yellow);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;  
}

.Header {
  font-size: var(--h1);
  text-align: center;
  margin: var(--h3);
  background-image: url(https://th.bing.com/th/id/OIP.uteB-qZab5QwHTAx3w_pfgHaE7?pid=ImgDet&rs=1);
  font-family: 'Bakbak One', cursive;
  border: var(--h5) solid  var(--grey);
  color:  white;
  background-repeat: no-repeat;
  background-size: cover;
}

.background{
  background-image: url(photos/Donald\ Trump.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}
.joke{
  font-size: var(--h3);
  text-align: center;
  color: white;
  margin: 5rem auto ;
  line-height: 3.75rem;
  font-weight: 700;
  width: 25%;
}

.button{
  background-color: Transparent;
  color: white;
  border:  3px solid var(--white);
  font-size: var(--h4);
  padding: var(--h5);
  text-align: center;
  align-items: center;
  justify-content: center;
  display:block;
  margin:0 auto; 
  cursor: pointer;
  
}

.button:hover {
  background-color: var(--white);
  color: 	#000080;

}